In [18]:
import pandas as pd
import numpy as np

Считывание датасета

In [16]:
df=pd.read_csv('/content/train.csv')

In [17]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Вывод информации

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Процент выживаемости у каждого класса

In [20]:
countByClass=df['Pclass'].value_counts().sort_index()
survivedByClass=df.groupby("Pclass")["Survived"].sum()
survivedByClass*100/countByClass

Pclass
1    62.962963
2    47.282609
3    24.236253
dtype: float64

Самое популярное имя

In [21]:
df_names=df[["Name","Sex"]]
first_name_array=np.empty(len(df_names), dtype=object)

In [22]:
def getFirstNames(names):
  first_name_array=np.empty(len(names), dtype=object)
  i=0
  for name in names["Name"]:
    if (("(" in name) and (names["Sex"].iloc[i]=='female')):
      fl=name.split("(")
      first_name_array[i]=fl[1].split()[0]
      i+=1
    else:
      fl = name.split(".")
      first_name_array[i]=fl[1].split()[0]
      i+=1
  return first_name_array

In [23]:
first_name_array=getFirstNames(df_names)
df["FirstName"]=first_name_array
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstName
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Owen
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Florence
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Laina
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Lily
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,William

In [24]:
popular_female_name=df.groupby("Sex")["FirstName"].value_counts()['female']
print("Самое популярное женское имя "+str(popular_female_name.index[0])+". Оно встречается "+ str(popular_female_name.iloc[0]))
popular_male_name=df.groupby("Sex")["FirstName"].value_counts()['male']
print("Самое популярное мужское имя "+str(popular_male_name.index[0])+". Оно встречается "+ str(popular_male_name.iloc[0]))

Самое популярное женское имя Anna. Оно встречается 14
Самое популярное мужское имя William. Оно встречается 35

Самое популярное мужское и женские имена в классах

In [33]:
print("Самое популярное женское имя в первом классе -"+" "+df.groupby(["Sex","Pclass"])["FirstName"].value_counts()['female'][1].index[0])
print("Самое популярное женское имя во втором классе -"+" "+df.groupby(["Sex","Pclass"])["FirstName"].value_counts()['female'][2].index[0])
print("Самое популярное женское имя в третьем классе -"+" "+df.groupby(["Sex","Pclass"])["FirstName"].value_counts()['female'][3].index[0])

Самое популярное женское имя в первом классе - Margaret
Самое популярное женское имя во втором классе - Elizabeth
Самое популярное женское имя в третьем классе - Anna

In [32]:
print("Самое популярное мужское имя в первом классе -"+" "+df.groupby(["Sex","Pclass"])["FirstName"].value_counts()['male'][1].index[0])
print("Самое популярное мужское имя во втором классе -"+" "+df.groupby(["Sex","Pclass"])["FirstName"].value_counts()['male'][2].index[0])
print("Самое популярное мужское имя в третьем классе -"+" "+df.groupby(["Sex","Pclass"])["FirstName"].value_counts()['male'][3].index[0])

Самое популярное мужское имя в первом классе - William
Самое популярное мужское имя во втором классе - William
Самое популярное мужское имя в третьем классе - William

Пассажиры, возрастом старше 44 лет

In [27]:
df[df['Age']>44]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstName
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Timothy
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Elizabeth
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,Mary
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S,Edward
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C,Myna
...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S,Peter
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,Margaret
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Sallie
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,Victor
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Lily

Пассажиры мужского пола и младше 44 лет

In [30]:
df.loc[(df['Age']<44) & (df['Sex']== 'male')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FirstName
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S,Owen
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S,William
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S,Gosta
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.050,NaN,S,William
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S,Anders
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S,Frederick
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,Henry
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S,Juozas
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C,Karl
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q,Patrick

Количество n-местных комнат

In [34]:
s1=df.groupby("Cabin")["Name"].count()
df2=s1.to_frame("Количество мест в комнате")["Количество мест в комнате"].value_counts()
df2

Количество мест в комнате
1    101
2     38
3      5
4      3
Name: count, dtype: int64